/* APP */
.app-body {
  margin: 2%;
}

/* DASHBOARD SCREEN */
.dashboard-body {
  display: flex;
  justify-content: space-between;
}

/* DASHBOARD - SEARCHBAR */
.search-bar-container {
  display: flex;
}

.search-bar {
  flex: 1;
}

.clear-filter-btn {
  flex: 1;
  font-size: 11px;
}

/* DASHBOARD - FILTERS */
/* filter container */
.filters-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* web filter sub-container */
.filter-web {
  flex: 1;
  margin-right: 2%;
}

.dropdown-filter {
  width: 85%;
  font-size: 13px;
}

/* mobile filter sub-container */
.filter-mobile {
  display: none;
  flex: 1;
  margin: 2%;
}
/* filter base component container */
.button-select-filter {
  margin-bottom: 25px;
}
/* filter button */
.filter-button {
  width: 85%;
  font-size: 13px;
}

/* DASHBOARD - INVENTORY ITEMS */
/* container */
.items-container {
  flex: 4;
  display: flex;
  flex-direction: column;
}
/* items header */
.item-list-header {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 12px;
}
/* items list */
.items-list {
  overflow: auto;
}
/* items list item */
.collection-item {
  display: flex;
  align-items: center;
}
/* list item properties */
.item-property {
  flex: 3;
}
/* list item property quantity specifically */
.item-quantity {
  flex: 1;
  text-align: center;
}

/* SINGLE ITEM VIEW SCREEN */
.item-view {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.item-name-quantity {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: '#e2e2e2';
}

/* EDIT FILTER ITEMS SCREENS */
/* containers */
.edit-filter-items-container {
  display: flex;
}

.sub-category-container {
  display: flex;
}

@media all and (max-width: 900px) {

  /* DASHBOARD - FILTERS */
    .filter-button {
        font-size: 10px;
        padding: 0%;
    }

    .clear-filter-btn {
      font-size: 9px;
    }

}

@media all and (max-width: 500px) {

  /* DASHBOARD SCREEN */
    .dashboard-body {
      flex-direction: column;
    }

  /* DASHBOARD - FILTERS */
    .filter-web {
      display: none;
    }

    .filter-mobile {
      display: flex;
      margin-top: 0%;
      margin-bottom: 3%;
    }

    .button-select-filter {
      flex: 1;
      margin-bottom: 1%;
    }

    .dropdown-filter {
      flex: 1;
      width: auto;
    }

    .filter-button {
        font-size: 8px;
        padding: 0%;
    }

  /* DASHBOARD - INVENTORY ITEMS */
    .item-list-header {
      font-size: 10px;
    }

    .collection-item {
      font-size: 11px;
      align-items: flex-start;
    }
}
