.app-body {
  margin: 2%;
}

.dashboard-body {
  display: flex;
  justify-content: space-between;
}

.filter-web {
  flex: 1;
  margin-right: 2%;
}

.filter-mobile {
  display: none;
  flex: 1;
  margin: 2%;
}

.items-container {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.button-select-filter {
  margin-bottom: 25px;
}

.filter-button {
  width: 85%;
  font-size: 13px;
}

/*edit Categories and edit Warehouses container*/
.filter-add {
  display: flex;
}

.sub-category-container {
  display: flex;
}

.item-list-header {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 12px;
}

.collection-item {
  display: flex;
  align-items: center;
}

.item-property {
  flex: 3;
}

.item-quantity {
  flex: 1;
  text-align: center;
}

@media all and (max-width: 900px) {
    .filter-button {
        font-size: 10px;
        padding: 0%;
    }
}

@media all and (max-width: 500px) {
    .filter-button {
        font-size: 8px;
        padding: 0%;
    }

    .dashboard-body {
      flex-direction: column;
    }

    .filter-web {
      display: none;
    }

    .filter-mobile {
      display: flex;
      margin-top: 0%;
      margin-bottom: 3%;
    }

    .button-select-filter {
      flex: 1;
      margin-bottom: 1%;
    }

    .dropdown-filter {
      flex: 1;
    }

    .item-list-header {
      font-size: 10px;
    }

    .items-list {
      font-size: 11px;
    }

    .collection-item {
      align-items: flex-start;
    }
}
